/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/details_pages.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/details_pages.scss */
body {
  background: #f5f5f5;
}

/* line 18, ../sass/details_pages.scss */
a {
  text-decoration: none;
  color: #000000;
}

/* line 23, ../sass/details_pages.scss */
ul {
  list-style-type: none;
}

/* line 42, ../sass/details_pages.scss */
.header {
  width: 100%;
}
/* line 45, ../sass/details_pages.scss */
.header .header_top {
  width: 100%;
  height: 31px;
  background: #ccc;
}
/* line 50, ../sass/details_pages.scss */
.header .header_top .w {
  width: 1200px;
  margin: 0 auto;
}
/* line 53, ../sass/details_pages.scss */
.header .header_top .w .top_left {
  float: left;
  font-size: 12px;
  line-height: 31px;
}
/* line 58, ../sass/details_pages.scss */
.header .header_top .w .top_left a {
  margin-right: 20px;
}
/* line 62, ../sass/details_pages.scss */
.header .header_top .w .top_left a:hover {
  color: #f00;
}
/* line 67, ../sass/details_pages.scss */
.header .header_top .w .top_right {
  float: right;
  font-size: 12px;
  line-height: 31px;
}
/* line 72, ../sass/details_pages.scss */
.header .header_top .w .top_right ul {
  width: 100%;
}
/* line 75, ../sass/details_pages.scss */
.header .header_top .w .top_right ul li {
  float: left;
  margin-left: 20px;
}
/* line 79, ../sass/details_pages.scss */
.header .header_top .w .top_right ul li a:hover {
  color: #f00;
}
/* line 86, ../sass/details_pages.scss */
.header .header_top .w .clearfix {
  clear: both;
}

/* line 93, ../sass/details_pages.scss */
.header_tb {
  width: 100%;
  height: 180px;
  border-bottom: 3px solid #f00;
}
/* line 98, ../sass/details_pages.scss */
.header_tb .w {
  width: 1200px;
  margin: 0 auto;
}
/* line 101, ../sass/details_pages.scss */
.header_tb .w .h_tb_left {
  float: left;
  width: 162px;
  height: 140px;
}
/* line 107, ../sass/details_pages.scss */
.header_tb .w .h_tb_left .left_img1 img {
  margin-top: 45px;
}
/* line 113, ../sass/details_pages.scss */
.header_tb .w .h_tb_right {
  float: right;
  width: 700px;
  height: 100%;
  position: relative;
}
/* line 119, ../sass/details_pages.scss */
.header_tb .w .h_tb_right .search_wrap {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-right: 50px;
}
/* line 125, ../sass/details_pages.scss */
.header_tb .w .h_tb_right .search_wrap .search_box {
  width: 512px;
  height: 42px;
  border: 2px solid #f00;
  border-radius: 100px;
  line-height: 42px;
}
/* line 132, ../sass/details_pages.scss */
.header_tb .w .h_tb_right .search_wrap .search_box input {
  width: 420px;
  height: 38px;
  border: none;
  outline: none;
  margin-left: 26px;
  background: #f5f5f5;
}
/* line 141, ../sass/details_pages.scss */
.header_tb .w .h_tb_right .search_wrap .search_box button {
  width: 48px;
  height: 38px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f5f5f5;
}
/* line 152, ../sass/details_pages.scss */
.header_tb .w .h_tb_right .tishi {
  width: 624px;
  height: 30px;
  font-size: 14px;
  margin-left: 26px;
  line-height: 30px;
}
/* line 159, ../sass/details_pages.scss */
.header_tb .w .h_tb_right .tishi a {
  color: #666;
  margin-right: 10px;
}
/* line 165, ../sass/details_pages.scss */
.header_tb .w .h_tb_right .shopping_car {
  position: absolute;
  right: 0;
  top: 50px;
  width: 122px;
  height: 40px;
  border: 2px solid #f00;
  border-radius: 100px;
  text-align: center;
  line-height: 40px;
}
/* line 178, ../sass/details_pages.scss */
.header_tb .w .clearfix {
  clear: both;
}
/* line 182, ../sass/details_pages.scss */
.header_tb .w .h_tb_nav {
  height: 40px;
  position: relative;
}
/* line 186, ../sass/details_pages.scss */
.header_tb .w .h_tb_nav .class_all {
  width: 216px;
  height: 38px;
  border: 1px solid #f00;
  background: orangered;
  float: left;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
}
/* line 199, ../sass/details_pages.scss */
.header_tb .w .h_tb_nav .nav_list {
  float: left;
  height: 100%;
}
/* line 203, ../sass/details_pages.scss */
.header_tb .w .h_tb_nav .nav_list li {
  height: 100%;
  float: left;
  margin-left: 37px;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
}
/* line 211, ../sass/details_pages.scss */
.header_tb .w .h_tb_nav .nav_list li a {
  color: #333;
}
/* line 215, ../sass/details_pages.scss */
.header_tb .w .h_tb_nav .nav_list li a:hover {
  color: #f00;
}
/* line 221, ../sass/details_pages.scss */
.header_tb .w .h_tb_nav .nav_bar {
  position: absolute;
  top: 43px;
  left: 0;
  z-index: 20;
  width: 218px;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 230, ../sass/details_pages.scss */
.header_tb .w .h_tb_nav .nav_bar .banner_nav_list {
  width: 100%;
}
/* line 233, ../sass/details_pages.scss */
.header_tb .w .h_tb_nav .nav_bar .banner_nav_list li {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 15px;
}
/* line 239, ../sass/details_pages.scss */
.header_tb .w .h_tb_nav .nav_bar .banner_nav_list li a {
  display: block;
  width: 191px;
  height: 100%;
  color: #fff;
  padding: 0 10px 0 15px;
}
/* line 246, ../sass/details_pages.scss */
.header_tb .w .h_tb_nav .nav_bar .banner_nav_list li a .banner_nav_item {
  float: left;
}
/* line 250, ../sass/details_pages.scss */
.header_tb .w .h_tb_nav .nav_bar .banner_nav_list li a .banner_nav_icon {
  float: right;
}
/* line 256, ../sass/details_pages.scss */
.header_tb .w .h_tb_nav .nav_bar .banner_nav_list li:hover {
  background-color: #fff;
}
/* line 259, ../sass/details_pages.scss */
.header_tb .w .h_tb_nav .nav_bar .banner_nav_list li:hover a {
  color: #f00;
}
/* line 266, ../sass/details_pages.scss */
.header_tb .w .h_tb_nav .nav_showbox {
  position: absolute;
  top: 43px;
  left: 218px;
  z-index: 10;
  width: 982px;
  height: 480px;
  background: #fff;
  display: none;
}

/* line 281, ../sass/details_pages.scss */
.main {
  width: 100%;
  overflow: hidden;
}
/* line 285, ../sass/details_pages.scss */
.main .main_container {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 290, ../sass/details_pages.scss */
.main .main_container .lujing {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
/* line 298, ../sass/details_pages.scss */
.main .main_container .main_cont_left {
  float: left;
  width: 450px;
  height: 542px;
  background: #fff;
}
/* line 304, ../sass/details_pages.scss */
.main .main_container .main_cont_left .fdj {
  width: 915px;
  height: 450px;
  margin-right: 15px;
  overflow: hidden;
}
/* line 310, ../sass/details_pages.scss */
.main .main_container .main_cont_left .fdj .fdj_left {
  float: left;
  width: 450px;
  height: 450px;
  position: relative;
}
/* line 316, ../sass/details_pages.scss */
.main .main_container .main_cont_left .fdj .fdj_left #fk {
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  cursor: move;
  display: none;
}
/* line 331, ../sass/details_pages.scss */
.main .main_container .main_cont_left .fdj .fdj_right {
  float: right;
  width: 448px;
  height: 448px;
  border: 1px solid #f00;
  overflow: hidden;
  position: relative;
  display: none;
}
/* line 340, ../sass/details_pages.scss */
.main .main_container .main_cont_left .fdj .fdj_right img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}
/* line 349, ../sass/details_pages.scss */
.main .main_container .main_cont_left .s_img {
  width: 450px;
  height: 80px;
  margin-top: 10px;
}
/* line 354, ../sass/details_pages.scss */
.main .main_container .main_cont_left .s_img div {
  float: left;
}
/* line 358, ../sass/details_pages.scss */
.main .main_container .main_cont_left .s_img .btn {
  width: 15px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
}
/* line 366, ../sass/details_pages.scss */
.main .main_container .main_cont_left .s_img .s_img_list {
  width: 420px;
  height: 80px;
}
/* line 370, ../sass/details_pages.scss */
.main .main_container .main_cont_left .s_img .s_img_list ul {
  width: 100%;
  height: 100%;
}
/* line 374, ../sass/details_pages.scss */
.main .main_container .main_cont_left .s_img .s_img_list ul li {
  float: left;
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  margin-left: 5px;
}
/* line 382, ../sass/details_pages.scss */
.main .main_container .main_cont_left .s_img .s_img_list ul .active {
  border-color: #f00;
}
/* line 390, ../sass/details_pages.scss */
.main .main_container .main_cont_right {
  float: right;
  width: 750px;
  height: 542px;
  background: #fff;
}
/* line 396, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_title {
  width: 100%;
  padding: 10px 20px;
}
/* line 400, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_title h1 {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}
/* line 406, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_title p {
  font-size: 14px;
  color: #f00;
  margin-top: 10px;
}
/* line 413, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner {
  width: 100%;
  padding: 10px 20px;
  overflow: hidden;
}
/* line 418, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left {
  float: left;
  width: 520px;
}
/* line 422, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .price {
  width: 100%;
}
/* line 425, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .price .price_li1 {
  width: 500px;
  height: 80px;
  padding: 20px 10px 0;
  background: #f5f5f5;
}
/* line 432, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .price li {
  width: 100%;
}
/* line 435, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .price li .price_xj {
  width: 100%;
  position: relative;
}
/* line 439, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .price li .price_xj span {
  font-size: 30px;
  color: #f00;
}
/* line 444, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .price li .price_xj #jiangjia {
  color: blue;
  font-size: 14px;
  margin-left: 20px;
}
/* line 450, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .price li .price_xj #cj {
  display: block;
  width: 100px;
  height: 23px;
  text-align: center;
  line-height: 23px;
  position: absolute;
  top: 17px;
  right: 20px;
}
/* line 462, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .price li .price_yj {
  width: 100%;
  font-size: 14px;
  text-decoration: line-through;
  margin-top: 10px;
}
/* line 469, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .price li .conry {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
/* line 474, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .price li .conry img {
  vertical-align: middle;
}
/* line 478, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .price li .conry span {
  font-size: 14px;
}
/* line 483, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .price li .huodong_box {
  width: 100%;
}
/* line 486, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .price li .huodong_box #huodong {
  font-size: 14px;
  background: #f00;
  color: #fff;
}
/* line 492, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .price li .huodong_box #huodong_text {
  font-size: 14px;
}
/* line 499, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .info {
  width: 100%;
}
/* line 502, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .info .info_title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
/* line 509, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .info .info_sum {
  width: 100%;
  height: 45px;
  line-height: 45px;
}
/* line 514, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .info .info_sum .info_sum_text {
  font-size: 14px;
}
/* line 518, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .info .info_sum .info_sum_input {
  display: inline-block;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
  position: relative;
  padding-right: 22px;
}
/* line 526, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .info .info_sum .info_sum_input input {
  padding: 5px 2px 4px 2px;
  height: 19px;
  line-height: 19px;
  border: 1px solid #cecbce;
  width: 40px;
  text-align: center;
  background-color: #fff;
}
/* line 536, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .info .info_sum .info_sum_input #sum_add,
.main .main_container .main_cont_right .cont_right_inner .inner_left .info .info_sum .info_sum_input #sum_jian {
  display: block;
  width: 16px;
  height: 11px;
  text-align: center;
  line-height: 11px;
  border: 1px solid #ccc;
}
/* line 548, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .info .info_sum .info_sum_input #sum_add {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 554, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .info .info_sum .info_sum_input #sum_jian {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 561, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .info .info_sum #you {
  font-size: 14px;
  margin-left: 10px;
}
/* line 566, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .info .info_sum #xiangou {
  font-size: 12px;
  color: #f00;
}
/* line 573, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .join_car {
  width: 100%;
  height: 70px;
  margin-top: 10px;
}
/* line 578, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .join_car #join_car_btn {
  display: inline-block;
  width: 182px;
  height: 44px;
  background: #f00;
  color: #fff;
  text-align: center;
  line-height: 44px;
  font-size: 20px;
  font-weight: bold;
}
/* line 590, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_left .join_car #guanzhu {
  display: inline-block;
  width: 104px;
  height: 44px;
  background: #ccc;
  text-align: center;
  line-height: 44px;
}
/* line 601, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_right {
  float: left;
  width: 230px;
}
/* line 605, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_right .mainStore {
  width: 217px;
  padding: 0 13px;
}
/* line 609, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_right .mainStore h3 {
  width: 100%;
  height: 44px;
  line-height: 44px;
}
/* line 614, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_right .mainStore h3 #store {
  display: inline-block;
  width: 35px;
  height: 25px;
  background: #f00;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  color: #fff;
}
/* line 625, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_right .mainStore h3 #store_name {
  font-size: 14px;
  font-weight: bold;
}
/* line 631, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_right .mainStore .store_time {
  width: 100%;
}
/* line 634, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_right .mainStore .store_time p {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}
/* line 641, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_right .mainStore .store_btn {
  width: 100%;
}
/* line 644, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_right .mainStore .store_btn a {
  display: block;
  width: 132px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
}
/* line 653, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_right .mainStore .store_btn #store_btn_aa {
  background: #f00;
  color: #fff;
}
/* line 658, ../sass/details_pages.scss */
.main .main_container .main_cont_right .cont_right_inner .inner_right .mainStore .store_btn #store_btn_gz {
  background: #ccc;
  color: #333;
  margin-top: 10px;
}
/* line 669, ../sass/details_pages.scss */
.main .main_container .main_bottom {
  width: 100%;
  padding-top: 30px;
  overflow: hidden;
}
/* line 674, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside {
  float: left;
  width: 213px;
}
/* line 678, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .aside_title {
  width: 211px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
}
/* line 685, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .aside_title a {
  color: #333;
}
/* line 690, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .aside_list {
  width: 100%;
  background: #fff;
}
/* line 693, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .aside_list ul {
  width: 213px;
  padding: 10px;
  overflow: hidden;
}
/* line 698, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .aside_list ul li {
  float: left;
  width: 101px;
  height: 27px;
  line-height: 27px;
  font-size: 12px;
}
/* line 705, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .aside_list ul li a {
  color: #666;
}
/* line 709, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .aside_list ul li a:hover {
  text-decoration: underline;
}
/* line 716, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .sidebox {
  width: 100%;
}
/* line 718, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .sidebox h3 {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
}
/* line 726, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .sidebox .sidebox_list {
  width: 92%;
  padding: 10px;
  background: #fff;
}
/* line 730, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .sidebox .sidebox_list li {
  width: 100%;
  border-bottom: 1px solid #999;
}
/* line 734, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .sidebox .sidebox_list li a {
  display: block;
  width: 100%;
}
/* line 739, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .sidebox .sidebox_list li .sidebox_des {
  width: 100%;
  height: 35px;
  overflow: hidden;
  font-size: 14px;
  margin-top: 8px;
}
/* line 747, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .sidebox .sidebox_list li .sidebox_price {
  width: 100%;
  height: 30px;
  line-height: 20px;
  color: #f00;
}
/* line 756, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .new_shangpin {
  width: 100%;
}
/* line 758, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .new_shangpin h3 {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
}
/* line 766, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .new_shangpin .new_shangpin_list {
  width: 92%;
  padding: 10px;
  background: #fff;
}
/* line 770, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .new_shangpin .new_shangpin_list li {
  width: 100%;
  border-bottom: 1px solid #999;
}
/* line 774, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .new_shangpin .new_shangpin_list li a {
  display: block;
  width: 100%;
}
/* line 779, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .new_shangpin .new_shangpin_list li .new_shangpin_des {
  width: 100%;
  height: 35px;
  overflow: hidden;
  font-size: 14px;
  margin-top: 8px;
}
/* line 787, ../sass/details_pages.scss */
.main .main_container .main_bottom .aside .new_shangpin .new_shangpin_list li .new_shangpin_price {
  width: 100%;
  height: 30px;
  line-height: 20px;
  color: #f00;
}
/* line 798, ../sass/details_pages.scss */
.main .main_container .main_bottom .detail {
  float: right;
  width: 970px;
}
/* line 801, ../sass/details_pages.scss */
.main .main_container .main_bottom .detail .detail_nav {
  width: 100%;
  height: 30px;
}
/* line 805, ../sass/details_pages.scss */
.main .main_container .main_bottom .detail .detail_nav .detail_nav_list {
  float: left;
  width: 870px;
  height: 100%;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
}
/* line 813, ../sass/details_pages.scss */
.main .main_container .main_bottom .detail .detail_nav .detail_nav_list li {
  float: left;
  margin-right: 20px;
}
/* line 818, ../sass/details_pages.scss */
.main .main_container .main_bottom .detail .detail_nav .detail_nav_list .nav_list_active a {
  color: #f00;
}
/* line 823, ../sass/details_pages.scss */
.main .main_container .main_bottom .detail .detail_nav .detail_nav_btn {
  float: right;
  width: 100px;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}
/* line 831, ../sass/details_pages.scss */
.main .main_container .main_bottom .detail .detail_nav .detail_nav_btn a {
  display: block;
  width: 90px;
  height: 30px;
  background: #f00;
  color: #fff;
}
/* line 840, ../sass/details_pages.scss */
.main .main_container .main_bottom .detail .detail_nav_content {
  width: 100%;
  background: #fff;
}
/* line 843, ../sass/details_pages.scss */
.main .main_container .main_bottom .detail .detail_nav_content .content_wrap {
  width: 100%;
  padding: 20px;
}
/* line 848, ../sass/details_pages.scss */
.main .main_container .main_bottom .detail .content_canshu {
  width: 100%;
  background: #fff;
  display: none;
}
/* line 852, ../sass/details_pages.scss */
.main .main_container .main_bottom .detail .content_canshu ul {
  width: 100%;
  padding: 20px;
}
/* line 855, ../sass/details_pages.scss */
.main .main_container .main_bottom .detail .content_canshu ul li {
  width: 100%;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
}
/* line 863, ../sass/details_pages.scss */
.main .main_container .main_bottom .detail .content_buy {
  width: 100%;
  background: #fff;
  display: none;
}
/* line 867, ../sass/details_pages.scss */
.main .main_container .main_bottom .detail .content_buy ul {
  width: 100%;
  padding: 20px;
}
/* line 870, ../sass/details_pages.scss */
.main .main_container .main_bottom .detail .content_buy ul li {
  width: 100%;
  font-size: 16px;
  line-height: 32px;
}
/* line 877, ../sass/details_pages.scss */
.main .main_container .main_bottom .detail .comment {
  width: 100%;
  background: #fff;
  display: none;
}
/* line 881, ../sass/details_pages.scss */
.main .main_container .main_bottom .detail .comment .comment_box {
  width: 100%;
  padding: 20px;
}

/* line 892, ../sass/details_pages.scss */
.footer {
  width: 100%;
  margin-top: 30px;
  background: #fff;
}
/* line 897, ../sass/details_pages.scss */
.footer .footer_container {
  width: 1200px;
  margin: 0 auto;
}
/* line 900, ../sass/details_pages.scss */
.footer .footer_container .footer_info {
  width: 100%;
}
/* line 904, ../sass/details_pages.scss */
.footer .footer_container .footer_sm {
  width: 100%;
  padding-top: 25px;
  overflow: hidden;
}
/* line 909, ../sass/details_pages.scss */
.footer .footer_container .footer_sm .footer_sm_left {
  float: left;
  width: 275px;
}
/* line 913, ../sass/details_pages.scss */
.footer .footer_container .footer_sm .footer_sm_left p {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}
/* line 920, ../sass/details_pages.scss */
.footer .footer_container .footer_sm .footer_sm_center {
  float: left;
  margin-top: 16px;
}
/* line 924, ../sass/details_pages.scss */
.footer .footer_container .footer_sm .footer_sm_center dl {
  float: left;
  width: 180px;
  line-height: 33px;
}
/* line 929, ../sass/details_pages.scss */
.footer .footer_container .footer_sm .footer_sm_center dl dt {
  font-size: 20px;
}
/* line 933, ../sass/details_pages.scss */
.footer .footer_container .footer_sm .footer_sm_center dl dd {
  font-size: 14px;
}
/* line 936, ../sass/details_pages.scss */
.footer .footer_container .footer_sm .footer_sm_center dl dd a {
  color: #666;
}
/* line 940, ../sass/details_pages.scss */
.footer .footer_container .footer_sm .footer_sm_center dl dd a:hover {
  color: #f00;
}
/* line 947, ../sass/details_pages.scss */
.footer .footer_container .footer_sm .footer_sm_right {
  float: left;
  margin-top: 25px;
}
/* line 951, ../sass/details_pages.scss */
.footer .footer_container .footer_sm .footer_sm_right span {
  display: inline-block;
  width: 100px;
  height: 100px;
}
/* line 956, ../sass/details_pages.scss */
.footer .footer_container .footer_sm .footer_sm_right span img {
  width: 100%;
  height: 100%;
}
/* line 961, ../sass/details_pages.scss */
.footer .footer_container .footer_sm .footer_sm_right span p {
  font-size: 12px;
  color: #666;
}
/* line 969, ../sass/details_pages.scss */
.footer .footer_container .footer_ff {
  text-align: center;
  margin-top: 20px;
}
/* line 973, ../sass/details_pages.scss */
.footer .footer_container .footer_ff a {
  display: inline-block;
  width: 100px;
  color: #666;
}
/* line 979, ../sass/details_pages.scss */
.footer .footer_container .footer_ff a:hover {
  color: #f00;
}
/* line 983, ../sass/details_pages.scss */
.footer .footer_container .footer_ff p {
  padding-top: 15px;
  color: #666;
}
/* line 989, ../sass/details_pages.scss */
.footer .footer_container .footer_fs {
  text-align: center;
  padding-top: 15px;
}
