/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/login.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/login.scss */
a {
  text-decoration: none;
  color: #000000;
}

/* line 14, ../sass/login.scss */
ul {
  list-style-type: none;
}

/* line 33, ../sass/login.scss */
.header {
  width: 100%;
}
/* line 36, ../sass/login.scss */
.header .header_top {
  width: 100%;
  height: 31px;
  background: #ccc;
}
/* line 41, ../sass/login.scss */
.header .header_top .w {
  width: 1200px;
  margin: 0 auto;
}
/* line 44, ../sass/login.scss */
.header .header_top .w .top_left {
  float: left;
  font-size: 12px;
  line-height: 31px;
}
/* line 49, ../sass/login.scss */
.header .header_top .w .top_left a {
  margin-right: 20px;
}
/* line 53, ../sass/login.scss */
.header .header_top .w .top_left a:hover {
  color: #f00;
}
/* line 58, ../sass/login.scss */
.header .header_top .w .top_right {
  float: right;
  font-size: 12px;
  line-height: 31px;
}
/* line 63, ../sass/login.scss */
.header .header_top .w .top_right ul {
  width: 100%;
}
/* line 66, ../sass/login.scss */
.header .header_top .w .top_right ul li {
  float: left;
  margin-left: 20px;
}
/* line 70, ../sass/login.scss */
.header .header_top .w .top_right ul li a:hover {
  color: #f00;
}
/* line 77, ../sass/login.scss */
.header .header_top .w .clearfix {
  clear: both;
}

/* line 84, ../sass/login.scss */
.header_tb {
  width: 100%;
  height: 120px;
  border-bottom: 3px solid #f00;
}
/* line 89, ../sass/login.scss */
.header_tb .w {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 94, ../sass/login.scss */
.header_tb .w .h_tb_left {
  float: left;
  width: 163px;
  height: 120px;
  line-height: 120px;
}
/* line 100, ../sass/login.scss */
.header_tb .w .h_tb_left img {
  vertical-align: middle;
}
/* line 105, ../sass/login.scss */
.header_tb .w .h_tb_right {
  float: right;
  width: 231px;
  height: 120px;
  line-height: 120px;
}
/* line 111, ../sass/login.scss */
.header_tb .w .h_tb_right a {
  color: #333333;
}

/* line 118, ../sass/login.scss */
.main {
  width: 100%;
  background: #f5f5f5;
}
/* line 122, ../sass/login.scss */
.main .main_container {
  width: 1000px;
  margin: 0 auto;
}
/* line 126, ../sass/login.scss */
.main .main_container .main_wrap {
  width: 100%;
  padding: 80px 0;
}
/* line 129, ../sass/login.scss */
.main .main_container .main_wrap .main_box {
  width: 100%;
  overflow: hidden;
}
/* line 133, ../sass/login.scss */
.main .main_container .main_wrap .main_box .main_box_img {
  width: 546px;
  height: 418px;
  float: left;
}
/* line 139, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form {
  width: 354px;
  height: 348px;
  float: left;
  background: #fff;
  padding: 35px 50px;
}
/* line 146, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form .login_form_wrap {
  width: 100%;
}
/* line 148, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form .login_form_wrap .main_title {
  width: 100%;
  height: 45px;
  line-height: 45px;
  position: relative;
}
/* line 153, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form .login_form_wrap .main_title h1 {
  padding-left: 10px;
}
/* line 156, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form .login_form_wrap .main_title a {
  position: absolute;
  top: 0;
  right: 15px;
  color: blue;
  font-size: 12px;
}
/* line 163, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form .login_form_wrap .main_title a:hover {
  color: #f00;
  text-decoration: underline;
}
/* line 168, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form .login_form_wrap .login_zm {
  width: 100%;
  height: 100%;
}
/* line 172, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form .login_form_wrap .login_zm li {
  width: 352px;
  line-height: 50px;
  margin-bottom: 10px;
  position: relative;
}
/* line 178, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form .login_form_wrap .login_zm li label {
  font-size: 14px;
  position: absolute;
  left: 11px;
}
/* line 183, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form .login_form_wrap .login_zm li label #login_zh {
  letter-spacing: 8px;
}
/* line 187, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form .login_form_wrap .login_zm li label #login_mm {
  letter-spacing: 3px;
}
/* line 192, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form .login_form_wrap .login_zm li input {
  width: 235px;
  padding: 18px 20px 18px 96px;
  border: 1px solid #dedede;
  font-size: 14px;
}
/* line 201, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form .login_form_wrap .login_btn {
  width: 100%;
}
/* line 204, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form .login_form_wrap .login_btn .login_zc {
  width: 100%;
  text-align: right;
  font-size: 14px;
  padding: 20px 0;
}
/* line 210, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form .login_form_wrap .login_btn .login_zc a {
  color: blue;
}
/* line 214, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form .login_form_wrap .login_btn .login_zc a:hover {
  color: #f00;
  text-decoration: underline;
}
/* line 220, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form .login_form_wrap .login_btn .login_sumit {
  display: block;
  width: 98%;
  height: 32px;
  border: 1px solid #e85356;
  background: #e4393c;
  color: #fff;
  text-align: center;
  line-height: 32px;
  font-size: 20px;
  margin: 0 auto;
}
/* line 233, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form .login_form_wrap .login_entry {
  width: 100%;
}
/* line 235, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form .login_form_wrap .login_entry p {
  font-size: 14px;
  font-weight: bold;
  padding: 20px 0;
}
/* line 241, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form .login_form_wrap .login_entry .login_entry_al li {
  float: left;
}
/* line 243, ../sass/login.scss */
.main .main_container .main_wrap .main_box .login_form .login_form_wrap .login_entry .login_entry_al li a {
  display: block;
  width: 50px;
  height: 50px;
  background: url(./images/login_icon_bg.png);
}

/* line 260, ../sass/login.scss */
.footer {
  width: 100%;
  margin-top: 30px;
  background: #fff;
}
/* line 265, ../sass/login.scss */
.footer .footer_container {
  width: 1200px;
  margin: 0 auto;
}
/* line 269, ../sass/login.scss */
.footer .footer_container .footer_ff {
  text-align: center;
  margin-top: 20px;
}
/* line 273, ../sass/login.scss */
.footer .footer_container .footer_ff a {
  display: inline-block;
  width: 100px;
  color: #666;
}
/* line 279, ../sass/login.scss */
.footer .footer_container .footer_ff a:hover {
  color: #f00;
}
/* line 283, ../sass/login.scss */
.footer .footer_container .footer_ff p {
  padding-top: 15px;
  color: #666;
}
/* line 289, ../sass/login.scss */
.footer .footer_container .footer_fs {
  text-align: center;
  padding-top: 15px;
}
