/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/register.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/register.scss */
a {
  text-decoration: none;
  color: #000000;
}

/* line 14, ../sass/register.scss */
ul {
  list-style-type: none;
}

/* line 33, ../sass/register.scss */
.header {
  width: 100%;
}
/* line 36, ../sass/register.scss */
.header .header_top {
  width: 100%;
  height: 31px;
  background: #ccc;
}
/* line 41, ../sass/register.scss */
.header .header_top .w {
  width: 1200px;
  margin: 0 auto;
}
/* line 44, ../sass/register.scss */
.header .header_top .w .top_left {
  float: left;
  font-size: 12px;
  line-height: 31px;
}
/* line 49, ../sass/register.scss */
.header .header_top .w .top_left a {
  margin-right: 20px;
}
/* line 53, ../sass/register.scss */
.header .header_top .w .top_left a:hover {
  color: #f00;
}
/* line 58, ../sass/register.scss */
.header .header_top .w .top_right {
  float: right;
  font-size: 12px;
  line-height: 31px;
}
/* line 63, ../sass/register.scss */
.header .header_top .w .top_right ul {
  width: 100%;
}
/* line 66, ../sass/register.scss */
.header .header_top .w .top_right ul li {
  float: left;
  margin-left: 20px;
}
/* line 70, ../sass/register.scss */
.header .header_top .w .top_right ul li a:hover {
  color: #f00;
}
/* line 77, ../sass/register.scss */
.header .header_top .w .clearfix {
  clear: both;
}

/* line 84, ../sass/register.scss */
.header_tb {
  width: 100%;
  height: 120px;
  border-bottom: 3px solid #f00;
}
/* line 89, ../sass/register.scss */
.header_tb .w {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 94, ../sass/register.scss */
.header_tb .w .h_tb_left {
  float: left;
  width: 163px;
  height: 120px;
  line-height: 120px;
}
/* line 100, ../sass/register.scss */
.header_tb .w .h_tb_left img {
  vertical-align: middle;
}
/* line 105, ../sass/register.scss */
.header_tb .w .h_tb_right {
  float: right;
  width: 231px;
  height: 120px;
  line-height: 120px;
}
/* line 111, ../sass/register.scss */
.header_tb .w .h_tb_right a {
  color: #333333;
}

/* line 118, ../sass/register.scss */
.main {
  width: 100%;
  padding-top: 30px;
  background: #f5f5f5;
}
/* line 122, ../sass/register.scss */
.main .main_container {
  width: 1000px;
  margin: 0 auto;
}
/* line 125, ../sass/register.scss */
.main .main_container .main_title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
/* line 130, ../sass/register.scss */
.main .main_container .register_wrap {
  width: 100%;
}
/* line 132, ../sass/register.scss */
.main .main_container .register_wrap .register_box {
  width: 600px;
  margin: 0 auto;
}
/* line 135, ../sass/register.scss */
.main .main_container .register_wrap .register_box .padd {
  width: 500px;
  padding: 35px 50px;
}
/* line 138, ../sass/register.scss */
.main .main_container .register_wrap .register_box .padd ul {
  width: 100%;
}
/* line 140, ../sass/register.scss */
.main .main_container .register_wrap .register_box .padd ul li {
  width: 100%;
  height: 54px;
  line-height: 54px;
  margin-bottom: 10px;
  position: relative;
}
/* line 146, ../sass/register.scss */
.main .main_container .register_wrap .register_box .padd ul li label {
  font-size: 14px;
  position: absolute;
  left: 10px;
}
/* line 150, ../sass/register.scss */
.main .main_container .register_wrap .register_box .padd ul li label #span1,
.main .main_container .register_wrap .register_box .padd ul li label #span2 {
  letter-spacing: 4px;
}
/* line 155, ../sass/register.scss */
.main .main_container .register_wrap .register_box .padd ul li input {
  width: 354px;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 18px 20px 18px 96px;
}
/* line 161, ../sass/register.scss */
.main .main_container .register_wrap .register_box .padd ul li #input3 {
  width: 150px;
}
/* line 164, ../sass/register.scss */
.main .main_container .register_wrap .register_box .padd ul li #send_btn {
  display: block;
  width: 200px;
  height: 36px;
  border-radius: 10px;
  background: #f00;
  text-align: center;
  line-height: 36px;
  color: #fff;
  position: absolute;
  right: 28px;
  top: 10px;
}
/* line 177, ../sass/register.scss */
.main .main_container .register_wrap .register_box .padd ul li .icon_box {
  position: absolute;
  top: 0;
  left: 500px;
  width: 300px;
  height: 54px;
  line-height: 54px;
  background: url(../images/error.png) no-repeat;
  background-size: 13px;
  background-position: 0 21px;
  color: #f00;
  font-size: 12px;
  padding-left: 16px;
  display: none;
}
/* line 192, ../sass/register.scss */
.main .main_container .register_wrap .register_box .padd ul li .icon_add {
  background: url(../images/true.png) no-repeat;
  background-size: 32px;
  background-position: -9px 11px;
  color: limegreen !important;
}
/* line 198, ../sass/register.scss */
.main .main_container .register_wrap .register_box .padd ul li #input6 {
  width: 13px;
  height: 13px;
}
/* line 203, ../sass/register.scss */
.main .main_container .register_wrap .register_box .padd ul .li6 {
  height: 30px;
  text-align: left;
  line-height: 0;
}
/* line 209, ../sass/register.scss */
.main .main_container .register_wrap .register_box .padd .register_btn {
  width: 470px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}
/* line 215, ../sass/register.scss */
.main .main_container .register_wrap .register_box .padd .register_btn #submit_zc {
  display: block;
  width: 100%;
  height: 100%;
  background: #f00;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 8px;
  border: none;
}

/* line 234, ../sass/register.scss */
.footer {
  width: 100%;
  margin-top: 80px;
  background: #fff;
}
/* line 239, ../sass/register.scss */
.footer .footer_container {
  width: 1200px;
  margin: 0 auto;
}
/* line 242, ../sass/register.scss */
.footer .footer_container .footer_ff {
  text-align: center;
  margin-top: 20px;
}
/* line 246, ../sass/register.scss */
.footer .footer_container .footer_ff a {
  display: inline-block;
  width: 100px;
  color: #666;
}
/* line 252, ../sass/register.scss */
.footer .footer_container .footer_ff a:hover {
  color: #f00;
}
/* line 256, ../sass/register.scss */
.footer .footer_container .footer_ff p {
  padding-top: 15px;
  color: #666;
}
/* line 262, ../sass/register.scss */
.footer .footer_container .footer_fs {
  text-align: center;
  padding-top: 15px;
}
